.dropDownSpace {
  postion: relative;
  display: inline-block;
}


.dropDownContent {
  display: none;
  position: absolute;
  min-width: 160px;
  overflow: auto;
  z-index: 1;
}

#slider {
  width: 500px;
  margin: 30px;
}

#answer1 {

  
}

.answerSpace {
  
}
.answerButtons {
  display: flex;
  margin: 20px;
  justify-content: space-between;
}
.show{
  display: block;
}